@page
@using System.Linq
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="row" style="margin-top: 50px">
  <div class="valign-wrapper" style="justify-content: center">
    <h1 class="blue-text lighten-3">
      @if (User.Identity.IsAuthenticated)
      {
        var claimsDiy = User.Claims.ToDictionary(x => x.Type);
        <span>Hello @claimsDiy["FullName"].Value</span><span class="expand">😎</span>
      }
      else
      {
        <span>Holla, Login please<span class="expand">😎</span></span>
      }
    </h1>
  </div>
</div>